<!-- Example row of columns -->
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2>
            Qui veut du café ?
            <button type="button" class="btn btn-default pull-right" ng-click="addGuest()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
        </h2>
    </div>
</div>

<div class="row" ng-repeat="user in userList">
    <div class="col-md-4 col-md-offset-4">
        <button type="button" class="btn btn-block btn-lg" ng-class="{'active' : user.isChecked, 'btn-info' : user.isGuest, 'btn-primary' : !user.isGuest}" ng-click="clickUser(user)">
            <span class="glyphicon glyphicon-ok-circle pull-left" aria-hidden="true" ng-show="user.isChecked">&nbsp;</span>
            <span class="pull-left">{{user.name}}</span>
            <span class="badge pull-right" ng-click="modifyPrefDrinks(user);$event.stopPropagation();">{{user.favDrink}}</span>
        </button>
    </div>
</div>

<div class="row">
&nbsp;
</div>

<div class="row">
    <div class="col-md-2 col-md-offset-6">
        <button type="button" class="btn btn-default" ng-show="nbUserSelected > 0" ng-click="resetOrder()">Annuler</button>
        <button type="button" class="btn btn-success pull-right" ng-show="nbUserSelected > 0" ng-click="computeOrder()">Valider</button>
    </div>
</div>

<div class="row" ng-hide="true">
    <textarea rows="5" cols="100">{{currentUser}}</textarea>
</div>

<!-- Modal box for default drink change-->
<div class="modal fade" id="modalboxPrefDrinks" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Changer la boisson par default</h4>
            </div>
            <div class="modal-body">
                <form novalidate>
                    <p ng-repeat="drinkName in DRINKS">
                        <label><input type="radio" id="{{drinkName}}" name="radioFavDrink" ng-model="currentUser.favDrink" ng-value="drinkName" ng-checked="drinkName == currentUser.favDrink"> {{drinkName}}</label>
                    </p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Valider</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal box for order result -->
<div class="modal fade" id="modalboxOrder" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Voici la commande à passer</h4>
            </div>
            <div class="modal-body">
                <p ng-repeat="(drinkName, drinkCount) in order">{{drinkName}} : {{drinkCount}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Modifier</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="resetOrder()">Terminer</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal box for guest adding-->
<div class="modal fade" id="modalboxAddGuest" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Ajouter un invité</h4>
            </div>
            <form name="myForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputName">Nom / Pseudo</label>
                        <input type="text" id="inputName" ng-model="currentUser.name">
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <label>Boisson favorite</label>
                        </div>
                        <div class="panel-body">
                            <p ng-repeat="drinkName in DRINKS">
                                <label><input type="radio" id="{{drinkName}}" name="radioFavDrink" ng-model="currentUser.favDrink" ng-value="drinkName" ng-checked="drinkName == currentUSer.favDrink"> {{drinkName}}</label>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="myForm.$pristine || myForm.$invalid" ng-click="addGuestToList(currentUser)">Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>